<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>MangaKat - Manga Reader</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="styles/materialize.css">
	<link rel="stylesheet" type="text/css" href="styles/style.css">
</head>
<body>
	<header>
		<div class="navbar-fixed">
		<nav>
			<div class="nav-wrapper">
				<a href="#!" class="brand-logo hide-on-med-and-down">MangaKat</a>
				<a href="#" data-target="mobile" class="sidenav-trigger">
					<i class="material-icons">menu</i>
				</a>
				<ul class="right hide-on-med-and-down">
					<li><a href="#home"><i class="material-icons left">home</i>Home</a></li>
					<li class="active"><a href="#favourites"><i class="material-icons left">favorite</i>Favourites</a></li>
					<li><a href="#downloads"><i class="material-icons left">file_download</i>Downloads</a></li>
					<li><a href="#about" class="modal-trigger"><i class="material-icons left">help</i>About Us</a></li>
					<li><a href="#login"><i class="material-icons left">account_circle</i>Sign In</a></li>
				</ul>
				<form class="right">
					<div class="input-field">
						<input type="search" name="search" id="search" placeholder="Find Manga" required>
						<label class="label-icon" for="search"><i class="material-icons">search</i></label>
						<i class="material-icons">close</i>
					</div>
				</form>
			</div>
		</nav>
		</div>
		<ul class="sidenav" id="mobile">
			<li>
				<div class="user-view red lighten-2 white-text valign-wrapper">
					<h3>MangaKat</h3>
				</div>
			</li>
			<li><a href="#home"><i class="material-icons left">home</i>Home</a></li>
			<li class="active"><a href="#favourites"><i class="material-icons left">favorite</i>Favourites</a></li>
			<li><a href="#downloads"><i class="material-icons left">file_download</i>Downloads</a></li>
			<li><a href="#about" class="modal-trigger"><i class="material-icons left">help</i>About Us</a></li>
			<li><a href="#login"><i class="material-icons left">account_circle</i>Sign In</a></li>
		</ul>
	</header>

	<div class="container">
		<div class="row">
			<div class="col s6 m4 l2">
				<div class="card hoverable">
					<div class="card-image">
						<img src="images/sample-1.jpg">
						<a title="Unfavorite" class="btn-floating halfway-fab red">
							<i class="material-icons">favorite</i>
						</a>
					</div>
					<div class="card-content">
						<span class="truncate">One Piece</span>
					</div>
				</div>
			</div>
			<div class="col s6 m4 l2">
				<div class="card hoverable">
					<div class="card-image">
						<img src="images/sample-2.jpg">
						<a title="Unfavorite" class="btn-floating halfway-fab red">
							<i class="material-icons">favorite</i>
						</a>
					</div>
					<div class="card-content">
						<p class="truncate">Naruto</p>
					</div>
				</div>
			</div>
			<div class="col s6 m4 l2">
				<div class="card hoverable">
					<div class="card-image">
						<img src="images/sample-1.jpg">
						<a title="Unfavorite" class="btn-floating halfway-fab red">
							<i class="material-icons">favorite</i>
						</a>
					</div>
					<div class="card-content">
						<p class="truncate">One Piece</p>
					</div>
				</div>
			</div>
			<div class="col s6 m4 l2">
				<div class="card hoverable">
					<div class="card-image">
						<img src="images/sample-2.jpg">
						<a title="Unfavorite" class="btn-floating halfway-fab red">
							<i class="material-icons">favorite</i>
						</a>
					</div>
					<div class="card-content">
						<p class="truncate">Naruto</p>
					</div>
				</div>
			</div>
			<div class="col s6 m4 l2">
				<div class="card hoverable">
					<div class="card-image">
						<img src="images/sample-1.jpg">
						<a title="Unfavorite" class="btn-floating halfway-fab red">
							<i class="material-icons">favorite</i>
						</a>
					</div>
					<div class="card-content">
						<p class="truncate">One Piece</p>
					</div>
				</div>
			</div>
			<div class="col s6 m4 l2">
				<div class="card hoverable">
					<div class="card-image">
						<img src="images/sample-2.jpg">
						<a title="Unfavorite" class="btn-floating halfway-fab red">
							<i class="material-icons">favorite</i>
						</a>
					</div>
					<div class="card-content">
						<p class="truncate">Naruto</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="about" class="modal">
		<div class="modal-content">
			<h4>About Us</h4>
			<p>
				There is no 'US', there's just <b>Usman</b>.
				At my own liesure time, I built this manga reading app -- MangaKat.
				To make it more fun, you can download your favorite manga and later read them
				offline.
			</p>
			<p>I love manga and hope you will have a good time here.</p>
			<h4>Disclaimer</h4>
			<p>
				All manga belong to their respective copyright owners.<br>
				MangaKat does not have any affiliation with content providers.<br>
				MangaKat does not have the right to change user's favorite data without
				the content providers' permission
			</p>
		</div>
		<div class="modal-footer">
			<small>&copy; 2018 MIT</small>
			<small><a href="https://github.com/usmansbk">GitHub</a></small>
			<small><a href="https://facebook.com/usmansbk">Facebook</a></small>
		</div>
	</div>

	<script type="text/javascript" src="scripts/materialize.js"></script>
	<script type="text/javascript" src="scripts/script.js"></script>
</body>
</html>